body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend{
  margin: 0;
  padding: 0;
}
body{text-align: center;font-family: Arial, Helvetica, sans-serif;}
img{border: none;}
.black-nav{
  width:100%;
  height: 40px;
  line-height: 40px;
  background-color: #333;
  font-size: 12px;
  overflow: hidden;
}
a{text-decoration: none;}
.black-nav a:hover{color: #ff6700;}
.black-nav .wrap{width: 1226px;
margin: 0 auto;}
.white-nav .wrap
{
  width: 1226px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 16px;

  
}
li{list-style: none;}
.black-nav .wrap .black-nav-left{
  float: left;
}
.black-nav .wrap .black-nav-right{
  float: right;
}
.black-nav .wrap  li{
  float: left;
  position: relative;
}
.black-nav .wrap  li span{
  color: #424242;
  margin: 0 .3em;
}
.black-nav  a{
  color: #B0B0B0;}
 i{font-style: normal;}
  .cat-icon{
    width: 20px;
    height: 20px;
  }
  .car{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
  }
  .car:hover{
    background-color: #fff ;

  }
  .car:hover>a{
    color: orange;
  }
  .car:hover.car-list{
    display: block;
    height: auto;
  }
  .car-list{
    width: 316px;
    height: 0px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    position: fixed;
    right: 0;
    top: 40px;
    color: #424242;
    overflow: hidden;
    line-height: 100px;
    z-index: 10;
    display: none;
  }

.black-nav.wrap.black-nav-right.car:hover.car-list{
  height: 100px;
   
}
.white-nav{
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
}
.white-nav .wrap{
  overflow: hidden;
}
.search input{
  font-size: 16px;
}
.search button:hover{
  background-color: #ff6700;

}
.milogo{
  width: 55px;
  height: 55px;
  background-color:#ff6700 ;
  
 
  margin-right: 20px;
  border-radius: 30px;
 
}

.milogo>img{
  width: 100%;
  height:100%;
  

}
.nav-bar{
  width: 875px;
  height: 100px;
  line-height: 100px;
  float: left;
}
.search{
  width: 296px;
  height: 100px;
  float:right;
}
.nav-bar ul{
  list-style:none;
  padding: 0;
  margin: 0;
  display:flex;
}
.nav-bar ul li{
  margin-right: 15px;
  float: left;
}
.nav-bar ul li a{
  text-decoration: none;
  color: #333;
  padding: 0 3px;
}
.distance{
  margin-left: 140px;
}
.nav-bar ul li a:hover{
  color: #ff6700;
}
.search input{
  width: 244px;
  height: 50px;
  float: left;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  margin-top: 25px;
  padding: 0 10px;
  border-right: 0;
  outline: none;
  background-color: #fff;
  box-shadow: inset 0px 0px 1px rgba(0,0,0,0.2);
}
.search button{
  width: 47px;
  height: 50px;
  float: right;
  margin-top: 25px;
  border: 1px solid #e0e0e0;
  background-color: #fff;

}
.banner .wrap{
  width: 1226px;
  margin: 0 auto;
}
.banner{
  width: 100%;
  height: 460px;

}
.banner-img{
  width:100%;
}
.banner>.wrap{
  position: relative;
}
.slide{
  width: 234px;
  height: 420px;
  padding: 20px 0;
  background-color: rgba(105,101,101,0.6);
  position: absolute;
  left: 0;
  top: 0;

}
.slide>ul>li{
  height: 42px;
  line-height: 42px;
  text-align: left;
  padding-left:30px;
  font-size: 14px;

}
.slide>ul>li>a{
  color: #fff;
}
.slide i{
  float: right;
  padding-right: 20px;
}
.slide>ul>li:hover{
  background-color: #ff6700;
}
.advertisement .wrap{
  width: 1226px;
  margin: 0 auto;
}
.advertisement{
  width: 100%;
  height: 170px;
  padding: 14px 0;
  background-color: #fff;
}
.adAside{
  width: 234px;
  height: 170px;
  background-color: #5f5750;
  padding: 3px;
  box-sizing: border-box;
  font-size: 12px;
  float: left ;

}
.adAside li{
  float: left;
  width: 76px;
  height: 64px;
  padding-top: 18px;
  box-sizing: border-box;
  opacity: 0.7;
  
}
.adAside li img{
  
  margin:0 23px 4px;
  display: block;
  color: #fff;
  width:24px ;
  height: 24px;
  

}
.advertisement .wrap .adAside ul li p{
  color: #fff;
  margin: 0 0;
}
.adAside li:hover{
  opacity: 1;
}
.adImg{
  width: 316px;
  height: 170px;
  margin-left: 14.6px;
  float: left;
}
.adImg img{
  width:100%;
}
.adImg img:hover{
  box-shadow: 0px 5px 10px #424242;}
